Crypto_Stock Price Alert System.json
{
  "name": "Crypto/Stock Price Alert System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c0eaf3f8-8c6b-4e15-9a19-e32595f68162",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "9a62591f-b4d2-47e3-8117-7f422ee1b1bf",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4d55bd1-dfd0-4033-8da0-facb53ee1a49",
              "name": "price",
              "value": "={{ $json.bitcoin.usd }}",
              "type": "number"
            },
            {
              "id": "dfc95651-21c8-4da2-ac33-517fe07a376d",
              "name": "timestamp",
              "value": "={{ $('Schedule Trigger').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "48065637-797e-4db1-bcf3-869fbd0b51b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09b1c08d-e7a5-496c-b2bc-720b850b2e55",
              "leftValue": "={{ $json.price }}",
              "rightValue": 50000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "e648fd6b-4ea0-49c6-9e02-9cf3d1d5420f",
      "name": "If"
    },
    {
      "parameters": {
        "text": "={{ $json.price }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -32
      ],
      "id": "b3c12bff-fa52-41ac-897b-56f0ff1128f6",
      "name": "Send a text message",
      "webhookId": "63008e48-5493-49b5-bfaa-ca8d73316de9"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFFSFJVD0",
          "mode": "list",
          "cachedResultName": "crypto-details"
        },
        "text": "={{ $('Edit Fields').item.json.price }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        848,
        160
      ],
      "id": "4f6c6137-5651-4aa2-9453-ac3e0eaaa9cf",
      "name": "Send a message",
      "webhookId": "446586db-baf7-4fd1-bc7e-89ef08bd65d0",
      "credentials": {
        "slackApi": {
          "id": "snjj27cwDwM7uTwP",
          "name": "Slack account 3"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFFSFJVD0",
          "mode": "list",
          "cachedResultName": "crypto-details"
        },
        "text": "={{ $('Edit Fields').item.json.price }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        896,
        -240
      ],
      "id": "f8a7ffcc-fb5c-4ba2-a58d-e6bb8f2d3cd4",
      "name": "Send a message1",
      "webhookId": "446586db-baf7-4fd1-bc7e-89ef08bd65d0",
      "credentials": {
        "slackApi": {
          "id": "snjj27cwDwM7uTwP",
          "name": "Slack account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c8d5056c-efa7-47b3-8b1d-73f5f2c1f7c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "544cb49618b689f5b884aea9c0993f7f85dc2a73a4d90d9054ad88faaaab424f"
  },
  "id": "3iOWVCo4unSsGrjrR0xX9",
  "tags": []
}